<li class="album">
  <img src={{model.coverUrl}} class="album-cover"/>

  <div class="album-description">
    <h4>{{model.title}}</h4>
    <dl class="album-record">
      <dt class="album-label">volume</dt>
      <dd class="album-value">{{model.number}}</dd>
      <dt class="album-label">date</dt>
      <dd class="album-value">{{model.publicationDate}}</dd>
    </dl>
  </div>
</li>