<div class="comic">
  <h3 class="comic-title">{{model.title}}</h3>
  <dl class="comic-description">
    <dt class="comic-label">scriptwriter</dt>
    <dd class="comic-value">{{model.scriptwriter}} </dd>
    <dt class="comic-label">illustrator</dt>
    <dd class="comic-value">{{model.illustrator}}</dd>
    <dt class="comic-label">publisher</dt>
    <dd class="comic-value">{{model.publisher}}</dd>
  </dl>
</div>
